name: Build and Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            total_shard_count: [11]
            shard_number: ['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025']

        steps:
          - name: Checkout Main AoC code
            uses: actions/checkout@v6

          - name: Checkout The AoC Input Files
            uses: actions/checkout@v6
            with:
              token: ${{ secrets.AOC_INPUT }}
              repository: peckb1/advent-of-code-input
              path: advent-of-code-input
              ref: main

          - name: Bring In Gradle Wrapper
            uses: gradle/actions/wrapper-validation@v4

          - name: Set up JDK 21
            uses: actions/setup-java@v5
            with:
              java-version: 21
              distribution: 'temurin'

          - name: Grant execute permission for gradlew
            run: chmod +x gradlew

          - name: Build with Gradle jacocoTestReport for year ${{ matrix.shard_number }}
            run: ./gradlew --no-daemon build -Pyear=${{ matrix.shard_number }}
